<form (ngSubmit)="saveForm($event)" [formGroup]="editionForm">
  <div class="row">
    <div class="col col-md-6">
      <div class="mb-3">
        <label for="firstName" class="form-label">
          Nombre(s)
          <sup class="text-danger">
            <small>{{editionForm.get('firstName')?.value?.length || 0}}/64</small>
          </sup>
        </label>
        <input type="text" class="form-control"
               [ngClass]="{'is-invalid': isInvalid('firstName')}"
               formControlName="firstName"
               id="firstName">
        <div *ngIf="isInvalid('firstName')" class="form-text">
          El nombre es requerido y debe tener máximo 64 caracteres.
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="mb-3">
        <label for="lastName" class="form-label">
          Apellido(s)
          <sup class="text-danger">
            <small>{{editionForm.get('lastName')?.value?.length || 0}}/64</small>
          </sup>
        </label>
        <input type="text" class="form-control"
               [ngClass]="{'is-invalid': isInvalid('lastName')}"
               formControlName="lastName"
               id="lastName">
        <div *ngIf="isInvalid('lastName')" class="form-text">
          El apellido es requerido y debe tener máximo 64 caracteres.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6">
      <div class="mb-3">
        <label for="phone" class="form-label">
          Teléfono
          <sup class="text-danger">
            *
          </sup>
        </label>
        <input type="text" class="form-control"
               mask="(000) 000-0000"
               [ngClass]="{'is-invalid': isInvalid('phone')}"
               formControlName="phone"
               id="phone">
        <div *ngIf="isInvalid('phone')" class="form-text">
          El teléfono es requerido.
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="mb-3">
        <label for="email" class="form-label">
          E-Mail
          <sup class="text-danger">
            *
          </sup>
        </label>
        <input type="email" class="form-control"
               [ngClass]="{'is-invalid': isInvalid('email')}"
               formControlName="email"
               id="email">
        <div *ngIf="isInvalid('email')" class="form-text">
          El correo electrónico es requerido.
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col col-md-6">
      <div class="mb-3">
        <label for="birthDate" class="form-label">
          Fecha de nacimiento
          <sup class="text-danger">
            *
          </sup>
        </label>
        <input type="date" class="form-control"
               [ngClass]="{'is-invalid': isInvalid('birthDate')}"
               formControlName="birthDate"
               id="birthDate">
        <div *ngIf="isInvalid('birthDate')" class="form-text">
          La fecha de nacimiento es requerida.
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="mb-3">
        <label for="maritalStatus" class="form-label">
          Estado Civil
          <sup class="text-danger">
            *
          </sup>
        </label>
        <select id="maritalStatus"
                [ngClass]="{'is-invalid': isInvalid('maritalStatus')}"
                formControlName="maritalStatus" class="form-select">
          <option *ngFor="let status of maritalStatus" [value]="status.id">{{status.description | titlecase}}</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
  <button type="submit"
          [disabled]="editionForm.invalid"
          class=" btn btn-primary">
    <i class="bi bi-save2"></i>
    GUARDAR
  </button>
</form>
