<table class="table">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">#</th>
    <th scope="col">Nombres</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Correo</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts">
    <th>
      <a role="button"
         (click)="delete(contact.id)">
        <i class="bi bi-trash text-danger"></i>
      </a>
    </th>
    <th scope="row">{{contact.id}}</th>
    <td>{{contact.firstName | uppercase}}</td>
    <td>{{contact.lastName | uppercase}}</td>
    <td>{{contact.phone | mask: '(000) 000-0000'}}</td>
    <td>{{contact.email | lowercase}}</td>
    <td>
      <a role="button" [routerLink]="['/contacts', contact.id, 'details']">
        <i class="bi bi-pencil-square text-primary"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
