<div class="container mt-xl-5">
  <app-breadcrumb [title]="data.title" ></app-breadcrumb>
  <div class="card">
    <div class="card-header">
      <h4 class="d-inline">
        {{data.title}}
      </h4>
      <button routerLink="/contacts/create"
              *ngIf="data?.includeAdd"
              class="btn btn-success float-end">
        <i class="bi bi-plus-circle"></i>
        Agregar
      </button>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
